<ul class="sidebar-nav list-group">
    {% if user.is_authenticated %}
        <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-link">Logout</button>
</form>
    {% else %}
        <li class="list-group-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
    {% endif %}

    <br>

    <li class="list-group-item"><a href="{% url 'coordination:home' %}">Home</a></li>
    <li class="list-group-item"><a href="{% url 'coordination:all_volunteers' %}">All Volunteers</a></li>
    <li class="list-group-item"><a href="{% url 'coordination:all_projects' %}">All Projects</a></li>
    <li class="list-group-item"><a href="{% url 'coordination:all_tasks' %}">All Tasks</a></li>
    <li class="list-group-item"><a href="{% url 'coordination:all_coordinators' %}">All Coordinators</a></li>
</ul>
